So the shell script works right now, but the frontend is done
You need to move the frontend from app to frontend, just place everything where it is supposed to be and see what happens
Not more than like an hour job, but also maybe check for a better UI to do that honestly